@use './_variables'as *

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

body
  min-height: 100vh
  background-color: $background
  color: $foreground

a
  text-decoration: none
  color: inherit

main
  padding-inline: 2rem
  padding-block: $header-height