@use './_variables'as *
@use './_breakpoints' as *

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  scroll-behavior: smooth

body
  min-height: 100vh
  background-color: var(--interface-bg)
  background: $theme-transition-bg
  color: $foreground

a
  text-decoration: none
  color: inherit

main
  padding-top: $header-height
  padding-inline: 1rem
  @include break(lg)
    padding-inline: 2rem

section
  scroll-margin-top: $header-height

footer
    max-width: $maxWidth-wrapper
    margin-inline: auto
    margin-bottom: 2rem
    width: calc( 100% - 2rem )
    @include break(lg)
      width: calc( 100% - 4rem )