@use './_variables' as *

h1
  font-size: 6rem
  line-height: 1

h2
  font-size: 2.5rem

h3
  font-size: 1.5rem

h1, h2, h3, h4, h5, h6
  color: $headings

p, figcaption
  color: $foreground

figcaption
  font-size: 0.8rem