$background: #EEEEEE
$foreground: #483B3B

$headings: #3A2E2E 
$primary: #B7B1B1

$articleCard-bg: #EBEBEB
$secondary: #D9D9D9
$accent: #F79463
$accent-dark: #8C2DFF

$button-primary: #F79463
$button-primary-hov: #ffb691
$button-primary-act: #ac2e00cb
$button-secondary: #D9D9D9
$button-secondary-hov: #eaeaea
$button-secondary-act: #969696

$button-inset:inset 1px 2px 3px 1px rgba(52, 30, 22, 0.5), inset -1px -1px 2px 1px rgba(52, 30, 22, 0.2)
$inset-sharp: inset 0px 0px 6px rgba(52, 30, 22, 0.5), 0px 0px 3px 3px #FFFF
$container-inset: 0 0 4px 4px #ffffffa2, inset -4px -4px 3.8px rgba(0, 0, 0, .3), inset 4px 5px 3.9px rgba(0, 0, 0, .25)
$inset_dark: #433E3E

$radius-main: 25px
$header-height: 59px
$padding-insetContainer: 2rem
$maxWidth-wrapper: 2160px
$interface-gap: 1rem

$badge-light: #D9D9D9

$theme-transition-bg: background-color 1s ease
$theme-transition-color: color 1s ease
$theme-transition-border: border 1s ease

//Light Theme
$text:$foreground
$divider-color-light: $foreground
$inset-dark-light: $inset_dark
$interface-bg-light: $background
$mood-container: linear-gradient(90deg, rgba(146, 181, 182, 0.548) 0%, rgba(148, 151, 199, 0.514) 100%)
$weatherContainer-gradient-light: linear-gradient(180deg,rgba(136, 235, 239, 0.7) 0%, rgba(83, 91, 230, 0.7) 100%)
$deko-inset-bg-light: $background
$deko-inset-text-light: $secondary
$cta-bg-light: linear-gradient(to right, #BBC8C9, #ADAFC1)
$cta-tratto-color-light: white
$next-article-overflow-mask-light: linear-gradient(to bottom, transparent 85%, $primary 97%)

// Dark Theme
$primary-dark: #837C7C
$headings-dark: #FFFFFF
$text-dark: #E4DED5
$divider-color-dark:#C9C5C0
$inset-dark-dark: #4E4242
$interface-bg-dark: #EBDED7
$mood-container-dark: linear-gradient(90deg, rgb(120, 150, 151) 0%, rgba(124, 125, 129, 0.514) 100%)
$weatherContainer-gradient-dark: linear-gradient(180deg,rgba(70, 106, 107, 0.836) 0%, rgba(48, 51, 94, 0.671) 100%)
$deko-inset-bg-dark: #837C7C
$deko-inset-text-dark: #F4BC9F
$cta-bg-dark: #5e5858
$cta-tratto-color-dark: #9f9595
$next-article-overflow-mask-dark: linear-gradient(to bottom, transparent 85%, $primary-dark 97%)