@use '../../../styles/_variables' as *
@use '../../../styles/_breakpoints' as *

.right_section
    width: 80%
    margin-inline: auto
    overflow-y: scroll
    scrollbar-width: none
    -ms-overflow-style: none
    height: 85%
    &::-webkit-scrollbar
        display: none
    @include break(lg)
        height: unset
    figure
        .img_mask
            overflow: hidden
            height: 10rem
            position: relative
            border-radius: 0.5rem
            @include break(lg)
                height: 18.75rem
            img
                object-fit: cover
        figcaption
            margin-top: 0.5rem
    .article_text
        margin-block: 60px
        h2
            margin-block-end: 2rem
        p
            margin-block-end: 1.5rem
            line-height: 1.4
        ul,li,ol
            margin-left: 1em
        li
            list-style: disc
        li:not(:last-child) p
            margin-block-end: 0.6rem
        hr
            margin-block: 2rem
            border: 1px solid $foreground