@use '../styles/_variables' as *
@use '../styles/_breakpoints' as *

.maincontainer
    height: 100svh

.main_article
    overflow: hidden
    height: 100%
    display: grid
    grid-template-columns: 1fr
    position: relative
    max-width: 1920px
    margin-inline: auto
    @include break(lg)
        position: static
        grid-template-columns: 1fr 0fr 3fr
    
    aside
        height: 100%
        padding: $padding-insetContainer
        display: flex
        flex-direction: column
        box-shadow: 6px -6px 18px gray
        position: absolute
        z-index: 2
        background-color: $primary
        transform: translateY(84%)
        transition: transform 0.5s ease-in-out
        &:has(input:checked)
            transform: translateY(50px)
        
        @include break(lg)
            position: static
            justify-content: space-between
            box-shadow: none
            overflow: auto
            transform: translateY(0)
            box-shadow: unset
            background-color: transparent
            
        input
            width: 50px
            height: 50px
            display: block
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: -25px
            z-index: 2
            appearance: none
            outline: none
            cursor: pointer
            &:checked + .arrowUp
                transform: translateX(-50%) rotate(180deg)
                transform-origin: center
            @include break(lg)
                display: none!important
            
        .arrowUp
            display: block
            position: absolute
            left: 50%
            transform: translateX(-50%) rotate(0deg)
            top: -25px
            transition: transform 0.5s ease-in-out
            @include break(lg)
                display: none
            
        h2
            margin-bottom: 0.75rem
            text-align: left

        .author_infos
            display: flex
            align-items: center
            gap: 0.5rem
            img
                border-radius: $radius-main
                aspect-ratio: 1
                border: 1px solid $foreground
        .inset
            border-radius: $radius-main
            box-shadow: inset 0px 0px 6px rgba(52, 30, 22, 0.5), 0px 0px 3px 2px #dadada
            padding: 0.5rem
            display: flex
            align-items: center
            gap: 0.5rem
            p
                font-weight: 600
    hr
        display: none
        justify-self: start
        align-self: start
        height: 95%
        margin: auto
        border: none
        border-right: 1px solid $foreground
        @include break(lg)
            display: block
        
    
.deko
    display: flex
    align-items: center
    margin-block: 1rem
    .circle
            border-radius: $radius-main
            border: 2px solid $foreground
            width: 6px
            height: 6px
    .line
        width: 100%
        height: 1px
        background-color: $foreground

