@use '../../../styles/_variables' as *
@use '../../../styles/_breakpoints' as *
%inset_container
    background-color: $primary
    border-radius: $radius-main
    box-shadow: $container-inset
    display: flex
    flex-direction: column
    overflow: hidden
    padding: $padding-insetContainer
.fixed
    @extend %inset_container
    min-height: calc( 100dvh - ($header-height + 1rem)) //screen height - header height - its padding
.fluid
    @extend %inset_container
    height: 100%
    max-width: $maxWidth-wrapper
    margin: auto
.pure
    @extend %inset_container