// theme.sass
//dark-light mode based on css variables will be moved to global
@use '../_variables' as *

body
    --insetContainer-bg: #{$primary}
    --headings-color: #{$headings}
    --paragraph-color: #{$text}
    --divider-color: #{$divider-color-light}
    --inset_dark: #{$inset-dark}
    --interface-bg: #{$interface-bg}

    &[data-theme="theme-dark"]
        --insetContainer-bg: #{$primary-dark}
        --headings-color: #{$headings-dark}
        --paragraph-color: #{$text-dark}
        --divider-color: #{$divider-color-dark}
        --inset_dark: #{$inset-dark}
        --interface-bg: #{$interface-bg}
