@use './styles/_variables' as *

.separator
    padding: 2rem
    border-block: 2px solid $foreground

.latest
    display: flex
    flex-direction: column
    gap: 40px
    h2
        text-align: center
        
.latestPosts
    display: flex
    gap: 0.8rem

