@use '../../styles/_variables' as *

.page
    background-color: $primary
    border-radius: $radius-main
    padding: 35px 40px
    display: flex
    flex-direction: column
    gap: 40px
    box-shadow: inset 8px 10px 8px 5px rgba(14,15,43, 0.2), inset -8px -10px 8px 6px rgba(241, 241, 255, 1)